.dashboard-container {
    margin-top:1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard-container h1 {
    text-align: center;
    letter-spacing: 1.5px;
    color:var(--primary)
}

.dashboard-container h1 span {
    color:var(--secondary)
}

.product-container {
    padding-bottom: 25%;
}

@media (min-width:920px) {
    .product-container {
        display: flex;
        width: 95%;
        justify-content: space-around;
        margin:0 auto;
        flex-wrap: wrap;
        flex-direction: row;

    }
}

@media (min-width: 1024px){
    .product-container {
        width: 85%;
    }
}