.dashboard-container {
    margin-top:1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard-container h1 {
    text-align: center;
    letter-spacing: 1.5px;
    color:var(--primary)
}

.dashboard-container h1 span {
    color:var(--secondary)
}