.settings_div {
    display: flex;
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    flex-direction: column;
    color: var(--primary);
    align-items: center;
    justify-content: center;
    
}

.settings_div h1 {
    text-align: center;
    margin:1em;
}

.settings_div form {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;   

}
.settings_div form label {
    font-weight: bold;
}
.settings_div form select {
    background-color: var(--thirdty);
    border-radius: 30px;
    padding:0.5em;
    margin:1em;
}

.settings_div form input {
    background-color: var(--thirdty);
    border:none;
    margin:1em;
    color:var(--primary);
    border-radius: 30px;
    padding:0.5em;
    color:var(--secondary);
    font-weight: bold;
}

.settings_div  button {
    padding:0.8em;
    background-color: var(--secondary);
    color:var(--primary);
    font-weight: bold;
    border:none
}

.number-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 1em;

}

.settings_div .error {
    color: var(--error);
    margin-bottom: 1em;
    font-weight: bold;
}