@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

a:visited {
    color:var(--primary);
}

a {
    text-decoration: none;
}
.container_header .nav-list-burger {
    background-color: hsl(0, 0%, 11%);
    position: absolute;
    top:0;
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:1s
    
}



.container_header {
    z-index:1000;
   position:fixed;
   width: 100%;
   background-color: var(--backgrounds);
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    height: 12vh;
    color:var(--primary);
}

.header .logo h1 {
    letter-spacing:5px;
    font-weight: bolder;
    font-family: 'Fredoka', sans-serif;

}

.underscore {
    color:var(--secondary);
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: none;
    flex-direction: row;
    align-items: center;
}

.nav-list li {
    margin: 1em;
    font-size:1.1em;
}


@media (min-width: 992px){


    .nav-list-burger {
        display: none;
    }
    .nav-list li {
        position: relative;
        padding: 1em;
    
    }
    .nav-list li::after{
        content: "";
        position: absolute;
        background: rgb(32,97,207);
        background: linear-gradient(90deg, rgba(32,97,207,1) 19%, rgba(25,76,171,1) 54%);
        height: 2px;
        width: 0;
        left:0;
        bottom: 10px;
        transition: 0.5s;

}

      .nav-list li:hover::after {
          width: 100%;
      }

}

@media (min-width:1024px){
    
    .nav-list {
        display: flex;
    
    }
    .burger-menu {
        display:none;
}
}

@media (min-width:1200px) {


    .container_header {
        font-size: 1.1em;
    }

    .header {
        height: 13vh;
    }

 
}
